@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&display=swap");
body {
    margin: 0%;
}
.form {
    margin: auto !important;
    position: relative;
    input {
        -webkit-appearance: none;
        -moz-appearance: textfield;
    }
    .bi-search {
        position: absolute;
        right: 10px;
        top: 10px;
    }
}
a.nav-links {
    color: white;
    background-color: black;
    border: white;
    border-radius: 5px;
    width: 15vh;
    align-self: center;
    text-decoration: none;
    padding: 1px 25px;
    height: 5vh;
}

.row {
    h2 {
        font-size: 55px;
        font-weight: 500;
        margin-bottom: 0;
        line-height: 1.3;
        margin-top: 110px;
        color: #150c21;
        font-family: "Poppins", sans-serif;
    }
    .md-12{
        font-weight: 300;
    }
    p {
        font-size: 21px;
        margin: 40px 0px;
        line-height: 1.5;
        color: #888888;
        font-family: "Poppins", sans-serif;
        font-weight: 300;
    }
    button {
        @media screen and (max-width:996px) {
            width: 100%;
            
        }
        width: 220px;
        height: 70px;
        font-size: smaller;
        border: 1.5px solid #150c21;
        background-color: #150c21;
        border-radius: 10px;
        color: #fff !important;
        cursor: pointer;
        /* padding-left: 70px;
        padding-right: 70px;
        padding-top: 20px;
        padding-bottom: 20px; */
        /* font-family: "Poppins", sans-serif; */
    }
}

.atcgirl{
    @media screen and (max-width:996px){
     display: none;   
    }
}
.circlebg{
    @media screen and (max-width:996px){
        display: none;
        
    }
    position: absolute;
    top: -180px;
    left: 1100px;
    z-index: -1;
}


.girlCircle{
    @media screen and (min-width:992px){
     display: none;   
    }
}